[2013-11-15 04:46] qwo opened #1 "Norfolkjs logo"
need a cool logo for the group

[2013-11-15 04:46] qwo opened #2 "BeerJS"
add this.

[2013-11-15 04:47] qwo opened #3 "norfolkjs.github.io website"
use some sort of jekyll pages.

Also consider getting norfolkjs.org?

[2013-12-10 02:52] #3 closed, assigned to lynnaloo

[2014-01-13 19:23] lynnaloo opened #4 "Need location/sponsor for February"

[2014-01-16 17:15] lynnaloo opened #5 "Noob Workshop/Meetup"
A few members of the group have requested a very basic Javascript meetup to learn how to make a useful web project from the start.

[2014-01-29 00:00] #2 closed, assigned to nobody

[2014-01-29 01:45] qwo opened #6 "Register for O'Reilly User Group"
- Be Official
- Get Swag
- http://oreilly.com/ug/

[2014-02-03 02:31] #6 closed, assigned to qwo

[2014-02-04 07:07] #1 closed, assigned to cosmicmeow

[2014-02-04 18:33] #4 closed, assigned to lynnaloo

[2014-02-04 18:34] lynnaloo opened #7 "Pull request for new logo to https://github.com/voodootikigod/logo.js"
Submit pull request with new logo images to logo.js.

[2014-02-04 18:34] #7 closed, assigned to lynnaloo

[2014-02-10 04:21] lynnaloo opened #8 "Speaker/ideas for April"

[2014-02-10 04:23] lynnaloo opened #9 "Beer.js for March"
Looking to do this 2nd or 3rd week, probably not 3rd Monday since it is St. Patrick's Day. Smartmouth is out due to $$, but The Birch can reserve us some space on a weeknight without a deposit.

[2014-02-17 01:19] #9 closed, assigned to lynnaloo

[2014-02-21 15:35] qwo opened #10 "Request New O'Reilly Books?"
@lynnaloo
A short list of books to request in the JS landscape?
JS the good parts (crockford)

[2014-02-24 16:21] lynnaloo opened #11 "Speaker/ideas for May"
Ideas for workshops, speakers, locations, sponsors, etc.

[2014-02-24 16:23] lynnaloo opened #12 "Speaker/ideas for June"
Ideas for workshops, speakers, sponsors, locations, etc. This might be a good time to do the noob workshop since Travis and I will have some ideas from JSConf.

[2014-02-24 20:00] bmf opened #13 "Reach out to additional publishers to see if they have a User Group program"
Currently reaching out to:
## Pragmatic Programmer

sales@pragmaticprogrammer.com
*Does not have an active User Group program but is planning to implement one in the next few months. Revisit after 5/25/2014.
## Apress

usergroup@apress.com
Apress Media LLC
233 Spring Street, 6th Floor
New York, NY, 10013
USA
## No Starch Press - SPONSOR

usergroups@nostarch.com
## Packt

http://www.packtpub.com/us

[2014-02-25 02:52] bmf opened #14 "Pair Programming Calendar"
# Objective:

Establish a pair programming calendar that can be used by members of NorfolkJS to request and announce pairing sessions. This would be used to encourage members of NorfolkJS to work together outside of our monthly meet-ups.
## Possible Solution

This can be a Google Calendar to start or something a little more fancy.
## Requirements

We would need to establish the following:
- Calend

[2014-02-25 21:09] lynnaloo opened #15 "Beer.js for July"
This is pretty far in advance, but O'Connor just contacted me and they're putting us on the calendar for their new facility for (Wed) July 23rd.

[2014-02-26 01:32] bmf opened #16 "Javascript on Arduino"
Does anyone know if the folks over at the 757 Makerspace have any experience with this? I wonder if they'd be willing to give a talk / promote their space? Do we have any contacts we can reach out to and ask?

[2014-02-28 03:44] lynnaloo opened #17 "Add sticker mule banner to meetup/website"
(View source for link)

<a href="http://www.stickermule.com/unlock?ref_id=5974530701">
  <img alt="Custom Stickers, Die Cut Stickers, Bumper Stickers - Sticker Mule" border="0" height="60" src="https://d1vje5lvs6ypii.cloudfront.net/assets/users/banners/small-b0930709fbea64b3bb974344500f27b4.jpg" width="234" />
</a>

[2014-03-03 16:29] #17 closed, assigned to nobody

[2014-03-03 23:31] tjwebb opened #18 "Anyone want a Google Glass Invite?"
I've got extras. Let me know if you're interested.

[2014-03-04 03:43] mrScott opened #19 "Google glass"
If you have one to spare, I am very interested.

[2014-03-04 03:43] #19 closed, assigned to nobody

[2014-03-05 15:23] #10 closed, assigned to qwo

[2014-03-08 22:02] lynnaloo opened #20 "Github chat"
If we want to do some realtime chatting: https://gitter.im/norfolkjs

[2014-03-09 14:30] lynnaloo opened #21 "Possible Speakers"
Pam Selle of Philly-JS-Dev/Comcast would like to come down to speak

[2014-03-09 16:15] qwo opened #22 "Request to get added to the organization - members"
For people to be able to participate and note their involvement/attendance of @norfolkjs meetups.

post your github user below

[2014-03-09 19:52] qwo opened #23 "t-shirts"
T-shirts for NorfolkJS
Probably using https://www.booster.com/

Strategically, should be similar to @757rb 's strategy; have a first patch printed first using customink etc;

Then before a large even such as JSConf, wear said shirt and run a booster campaign strategically during this time to promote.

JsConf is May 28-30th.

cc @cosmicmeow

[2014-03-12 01:23] lynnaloo opened #24 "Book Reviews"
We're getting a bunch of free books from our publisher sponsors (thanks @bmf and @stanzheng) to raffle off at the user groups, but I'm also open to giving books to anyone who would like to review them. This also means that we can request specific books if someone has a title they really want to read/review.

[2014-03-12 01:37] lynnaloo opened #25 "Locations"
In the interest in spreading the JS-love around, I'm trying to get a list of possible locations around downtown Norfolk to host us for future meetups.

Here are the requirements:
- Has to have space for at least 30 people
- Has to have a screen or a wall that we can project on
- Has to have reliable wireless internet
- Has to be open to the public (no security list or mandatory RSVP)
- Has to allo

[2014-03-17 00:53] lynnaloo opened #26 "Speaker/ideas for August"
No food sponsor yet, going to try to have the meetup at the Virginia Arts Festival building: http://www.vafest.org/2014/about/robin-hixon-theatre-tech-info.

[2014-03-20 15:30] jalbertbowden opened #27 "nodeschool"
there's a nodeschool event in pa coming up in april, wanted to send it to everyone in the group....is there a mailing list?

[2014-03-28 15:13] lynnaloo opened #28 "Speaker/ideas for September"
@PamSelle will be doing a talk on JavaScript Testing and talking about her book "Choosing a JavaScript Framework."

[2014-03-29 00:46] #18 closed, assigned to nobody

[2014-03-29 00:51] qwo opened #29 "NorfolkJS + C4HRVA: Javascript Map School Workshop 1"
- Learn about web mapping using popular libraries such as Leaflet, ArcGis Online, and Google-maps
- Partners @NorfolkJS, @CodeforHamptonRoads, @cityofnorfolk, @c4hrva
- Tentative Date April 23rd or April 30th Wednesday 6-9PM
- In partnership and preparation for National Civic Hack Day and the Norfolk City Challenge

[2014-03-29 01:06] qwo opened #30 "NorfolkJS + C4HRVA Building Responsive Mobile Web Apps Workshop II"
Topic: Appify your website. Creating responsive web apps using HTML/CSS/JS or (topic suggest)
Tentative Date: May 21st Wednesday 6-9 or optional
Partners - @CityofNorfolk @Norfolkjs @c4hrva etc

[2014-04-03 01:54] qwo opened #31 "O'Reilly April 2014 Book Request List"
Requests or suggestions?

[2014-04-18 19:47] bmf opened #32 "Monthly Blog Post"
I'm thinking we should have a monthly blog post, published opposite our meetup for the month to maintain interest in the topic for the month. We could also publish the link via meetup and twitter when the article goes up.

[2014-04-22 16:41] #8 closed, assigned to lynnaloo

[2014-04-22 16:41] #31 closed, assigned to nobody

[2014-04-22 16:54] #5 closed, assigned to nobody

[2014-04-22 16:58] lynnaloo opened #33 "Videos to YouTube"
Need to put our Glass videos on YouTube.

[2014-04-22 20:28] #30 closed, assigned to nobody

[2014-04-22 20:28] #29 closed, assigned to nobody

[2014-04-22 20:45] bmf opened #34 "Ask Me Anything"
Any interest in us doing a JavaScript centered, Reddit style, "_Ask Me Anything_" in the Meetup forums? If so, we could try to woo some folks that wouldn't normally travel out our way. Could be an interesting segue into future NorfolkJS meetup topics.

[2014-05-05 14:05] qwo opened #35 "National Day of Civic Hacking"
Hi all,

I'm planning national day of civic hacking an event that will be on May 31st at the TCC Roper.

We're looking for participants, speakers and mentors for the event. If you're interested in doing any of the follow please get in touch .

This is in part connected the Next NorfolkJS meetup which will be on Geospatial Maps!
#11

http://www.meetup.com/NorfolkJS/events/178440172/

Check out the

[2014-05-22 17:42] lynnaloo opened #36 "Speaker/ideas for October"
Would like to see a talk on ECMAScript 6, if anyone has any ideas on someone who is contributing to the project?

I think @1kevgriff and @tjwebb also might be interested in lightning talks on the subject?

[2014-05-22 17:46] #20 closed, assigned to nobody

[2014-05-30 19:20] lynnaloo opened #37 "International NodeBots Day!"
Possible partnership with Makerspace to do this on July 26/27?

https://github.com/nodebots/nodebotsday

[2014-05-30 19:33] #35 closed, assigned to nobody

[2014-05-30 19:33] #33 closed, assigned to qwo

[2014-06-03 20:07] lynnaloo opened #38 "Meteor 1.0 Launch Party"
Meteor will having a worldwide launch party for their 1.0 release. Date TBD, but if we host a local party then they'll send us some swag with their new logo design. Contact is Jade Wang.

[2014-06-09 23:47] lynnaloo opened #39 "Speaker/ideas for December"
@BanzaiMan (Hiro Asari) from Travis-CI is going to do an introduction to testing on Travis CI.

Location of this will likely be xTuple

[2014-06-15 02:35] lynnaloo opened #40 "Speaker/ideas for November"
Beer.js

[2014-06-15 12:12] lynnaloo opened #41 "Sticker Trade"
I like this idea from @metaskills (via @stanzheng) to do a sticker trade with other user groups. I've got a contact at EmpireJs (I already gave them stickers) that I can follow up with. If anyone would like to reach out to other groups, I can provide the stickers.

[2014-06-16 21:25] #11 closed, assigned to nobody

[2014-06-19 19:09] bmf opened #42 "Agenda Items for June 27th Meetup"
Please put your agenda items here so I can get them added to the deck.

[2014-06-26 03:31] #42 closed, assigned to nobody

[2014-06-30 19:00] #12 closed, assigned to nobody

[2014-06-30 19:00] #34 closed, assigned to nobody

[2014-06-30 19:04] #24 closed, assigned to nobody

[2014-06-30 19:04] #23 closed, assigned to nobody

[2014-06-30 19:04] #16 closed, assigned to nobody

[2014-07-09 19:34] lynnaloo opened #43 "Npm package publishing tutorial"
Travis gave me a brief tutorial on publishing npm packages that I'd like to see as a blog post.

[2014-07-11 01:46] bmf opened #44 "Nodebots Day Meetup Agenda"
Please post any agenda items here and I'll get them into the slides for 7/26.

[2014-07-21 23:08] lynnaloo opened #45 "NodeBots Day! Repo"
Add information to wikis for NodeBots day: https://github.com/norfolkjs/nodebotsday/wiki.
- Need links to information on building SumoBots
- Need links to YouTube playlist
- Need reveal.js slides

[2014-07-25 15:26] #44 closed, assigned to nobody

[2014-07-27 14:07] #45 closed, assigned to tjwebb

[2014-07-27 14:08] #37 closed, assigned to nobody

[2014-07-27 14:09] #15 closed, assigned to lynnaloo

[2014-08-21 17:17] #26 closed, assigned to nobody

[2014-09-04 08:31] tjwebb opened #46 "balderdash is considering coming to Norfolk in October. thoughts?"
http://balderdash.co, creator of [sails.js](https://github.com/balderdashy/sails) and other cool things. They have an opening right around our October 20 meetup. I, for one, think this would be awesome.

@metaskills how do you feel about getting bumped? :)

[2014-09-09 17:36] #32 closed, assigned to nobody

[2014-09-09 17:39] lynnaloo opened #47 "Book requests for October"
@bmf @stanzheng - Request O'Reilly and No Starch books for raffles.

[2014-09-09 17:42] lynnaloo opened #48 "Food sponsors"
We're looking for more sponsors specifically to provide food for the meetups. If you are interested or you know of a company that I need to reach out to, please comment below!

- Sarah Bray is going to talk to &Yet to see what they might do for out of state sponsorship.
- I'm going to bother back all of the recruiters that keep emailing me :)

[2014-09-09 17:47] lynnaloo opened #49 "Speaker/Ideas for January"
January 19th - Unless Meteor gives us a better hard date for 1.0, this can be a place holder for @bretfisher's Meteor talk.

[2014-09-09 17:47] lynnaloo opened #50 "Speaker/Ideas for February"
@shackbarth is going to do another "Sharpen Your Saw" talk/workshop.

[2014-09-09 17:52] lynnaloo opened #51 "Speaker/Ideas for March"
March 18th - Beer.js - location TBD

[2014-09-12 22:54] lynnaloo opened #52 "Agenda for September meeting"
Info for slides:

Slide for Zack/Hatch/StartNorfolk (sponsor)
Slide for 80/20 (sponsor)

Upcoming announcements:
October meetup (This is Mike McNeal from  Balderdash on the 21st (Travis can talk about this)
November Beer.js
Dominion/Code for Hampton Roads Hack-a-thon (Stanley will speak about this)
Popup Robots info (Brandon)
Raffles (books and a few t-shirts)

Anything else that we need to mentio

[2014-09-15 03:29] #46 closed, assigned to nobody

[2014-10-01 18:45] #52 closed, assigned to bmf

[2014-10-10 19:37] #28 closed, assigned to nobody

[2014-10-10 19:39] lynnaloo opened #53 "Domain move"
I'm moving my domains in the next month so we might have a day or two of downtime on norfolkjs.org as I'm switching things around.

[2014-10-14 14:45] lynnaloo opened #54 "Agenda for October meeting"
"Stuff to include on slides"
- Sponsors - xTuple, UDig, Grow
- Meteor.js Meetup in November to celebrate 1.0 (swag!! and workshop): http://www.meetup.com/Meteor-Norfolk/events/213228112/.
- Beer.js at the Birch November 19th
- Polyglot meetup "This Old Code" with Scott Forder http://www.meetup.com/757-Polyglot-Developers/events/207299362/
- Travis-CI meetup (partnering with @757rb) on December 15t

[2014-10-14 14:47] stanzheng opened #55 "Meetup Perks"
Meetup perks were deprecated and now we have to replace the promo codes. I forget what all 5 vendors were but ill go off the top of my head

- [x] oreilly

- Buy ebooks at 50% off and print books at 40% off: When you purchase a book or ebook on oreilly.com use the UG Program discount code: DSUG

- Buy 1 Ebook, Get 1 Free with your user group discount code: DSUG2

- [x] manning

- We have a standin

[2014-10-21 23:43] #47 closed, assigned to nobody

[2014-10-21 23:43] #36 closed, assigned to nobody

[2014-11-10 17:14] #54 closed, assigned to bmf

[2014-11-10 17:18] #38 closed, assigned to nobody

[2014-11-12 08:36] BretFisher opened #56 "To Meteor or not to Meteor"
So Meteor HQ is beating the "keep the momentum going" drum to us captains. I do feel like we had some excitement in the room around the platform, but enough to have a monthly meetup? eh...... I'm on the fence.

Since the platform is so expansive I still fill like I only covered 25% of it, but I don't want to be an evangelist for something people aren't really using.

So ideas on where to go from h

[2014-11-16 23:18] #56 closed, assigned to nobody

[2014-11-21 21:05] bmf opened #57 "December Agenda Items"
Please leave all agenda items here so I can get them on the slides for the Dec 15th meetup. Thank you.

[2014-11-21 21:14] #40 closed, assigned to nobody

[2014-11-21 21:19] #22 closed, assigned to nobody

[2014-11-21 21:25] #13 closed, assigned to bmf

[2014-12-02 18:54] lynnaloo opened #58 "Art of Video Games exhibit at the Chrysler"
I went to the planning meeting this morning (7:45 AM you guys!) for their February ["Art of Video Games" exhibit](http://www.flintarts.org/exhibitions/current/taovg.html). In order to get the word out to the geeks in this area, they've offered to let us meet in their space in January or February. I followed up with their public outreach director, Maegan Douglas, and I'll update this issue with wha

[2014-12-02 19:10] #53 closed, assigned to lynnaloo

[2014-12-03 04:11] bmf opened #59 "Chat Room"
During the Meteor meet up @BretFisher mentioned that we should set up a chat room to facilitate JavaScript and Meteor discussions outside of our regular meetings. At one point we looked at setting up a chat room for the group, but that didn't seem to get much traction. Is there any interest in setting an IRC like chat room?  @BretFisher mentioned [Slack](https://slack.com/) and that seems to be an

[2014-12-03 21:35] #59 closed, assigned to nobody

[2014-12-03 21:36] #58 closed, assigned to nobody

[2014-12-05 14:53] lynnaloo opened #60 "Shared Calendar"
Now that we have shared chat, I'd love for there to be a shared calendar with all of the tech events on it. Planning events on the same day is kind of a reoccurring issue. Slack has Google Calendar integration, but maybe there is a better way to do it?

[2014-12-09 15:52] bmf opened #61 "Hour of Code"
Looks like we might miss the official week for the Hour of Code (Dec 8-14), but that shouldn't stop us from hosting one!

[2014-12-09 16:11] #14 closed, assigned to bmf

[2014-12-15 18:53] #57 closed, assigned to bmf

[2014-12-16 02:40] bmf opened #62 "Announcements for 1/19 Meetup"
This will be our 1 year anniversary. Our first meet up was a Hang out + Interactive talk on Angular JS. According to Meetup.com, we had a whopping total of 26 JS Ninjas. A lot has happened in a year...

[2014-12-16 02:55] bmf opened #63 "The raffle"
Moving the raffle helped a bit, but I think we had too many items to give away and it was still very chaotic.

What if we did something along these lines:

A) Offer a max of 3 prizes per meet up
B) Instead of a raffle, we create a mobile site that offers up challenges for the prizes. These can either be JS trivia or challenges that pit the players against each other. At the end of the meet up the

[2015-01-06 15:03] bmf commented on #62
I requested Eloquent JavaScript, 2nd Edition and Linux Command Line from No Starch on 1/5. Haven't heard from them yet, probably will later today.

[2015-01-12 17:25] lynnaloo opened #64 "NodeBotsDay 2015"
Date is Saturday, July 25th. Location is 757 Makerspace.

We already have some Pawel-bots and we can get more of those kits pretty easily (cheaply). We can likely get the Flexbot drone kit < $50 so that's another great project. Other ideas are NodeCoptors, NodeBoats, and NodeRockets. Let's comment here with a list of crazy ideas and we'll organize them into a plan as the date gets closer.

[2015-01-13 04:30] bmf commented on #64
I like the noderockets idea. Can we do that at 757 Makerspace? I also like the bot battle we did last year. We could do an obstacle course for Nodebots/boats/copters...

[2015-01-13 15:21] bmf commented on #64
I think for the bot battle, we should make that competition a "Bring Your Own Equipment" and set some parameters for participation. Things like - No projectiles, Flames, common size for participant bots, etc... We should also have a waiver for potential equipment damage.

[2015-01-13 18:26] lynnaloo commented on #64
I'll get the rules/requirements that they use for RobotsConf. I know for JSConf soccer, it was a free-for-all with whatever people could find to use for their bots.

[2015-01-13 23:54] bmf commented on #64
I think you're right about sponsorship covering our equipment. My concern was more so about people bringing their own equipment and it getting broken during a battle bots competition. Maybe a soccer-bot competition is the way to go?

[2015-01-14 15:48] lynnaloo commented on #64
Soccer is still pretty full contact. At least a disclaimer for people bringing their own equipment is probably a good idea. That's probably something else that we might be able to copy from other bigger groups.

[2015-01-14 15:48] #39 closed

[2015-01-14 15:50] lynnaloo commented on #43
I'm going to close this for now and bother @tjwebb  again when he starts his blog back up.

[2015-01-14 15:50] #43 closed

[2015-01-14 15:52] lynnaloo commented on #61
The Makerspace did 3 weeks of kids/adults Hour of Code in December and it was pretty popular. I'm thinking maybe close this and defer to helping with that class the next time it's offered there rather than hosting our own.

[2015-01-14 15:54] lynnaloo commented on #49
We're going to reschedule @1kevgriff for another month or workshop since he has client obligations on the 19th. @tjwebb is going to go at it alone!

80/20 is sponsoring drinks and UDig is tentatively sponsoring food (haven't confirmed what kind of food yet).

[2015-01-14 15:55] lynnaloo commented on #50
Cuisine and Company is catering this event since the Chrysler doesn't allow outside food/drinks. We still need a sponsor to pay the catering bill.

[2015-01-14 15:56] lynnaloo commented on #51
I'm thinking about doing this at the Birch again since they have been so good to us, but I'm open to idea if anyone has a particular beer joint that they like.

[2015-01-14 15:59] lynnaloo commented on #62
We should probably mention the 50% Pact discount on ebooks if @stanzheng has the details.

[2015-01-14 16:02] lynnaloo opened #65 "Books/Swag for January"
Issue to keep track of what books/swag to give away for this meetup.

@bmf - Eloquent JavaScript, 2nd Edition and Linux Command Line from No Starch
@stanzheng - When you request O'Reilly/Manning can you put that in this thread?

[2015-01-14 16:04] lynnaloo opened #66 "Books/Swag for February"
Thread to keep track of books/swag requested.

@bmf  - No Starch
@stanzheng - O'Reilly/Manning/Pact

I will check with PluralSight and Wintellect for our annual box of swag to give out for free.

[2015-01-14 16:05] lynnaloo opened #67 "Speaker/Ideas for April"
If everything works out, I'd like to have this event at the Slover Library and get a sponsor to pay for catering.

[2015-01-14 16:06] lynnaloo opened #68 "Books/Swag for April"
Thread to keep track of books/swag requested.

@bmf  - No Starch
@stanzheng - O'Reilly/Manning/Packt

Anything else we might get to put on the free-for-all table.

[2015-01-14 16:06] bmf commented on #61
Agreed.

Brandon Flade

On Jan 14, 2015, at 10:52 AM, Linda Nichols <notifications@github.com> wrote:

[2015-01-14 16:26] BanzaiMan commented on #39
It was a lot of fun! Thanks for having me.

[2015-01-14 16:37] lynnaloo commented on #39
Come back again soon!

[2015-01-14 21:06] 1kevgriff commented on #49
Sorry :(

Maybe I could do an IO.js talk :)

[2015-01-14 22:31] lynnaloo commented on #49
No problem! We'll put you on the calendar for later this year :)

[2015-01-14 23:32] stanzheng commented on #51
binary of O'Connors and Birch has been OK.

I can try to talk to smartmouth again in person to see if we can make it work.

[2015-01-14 23:36] bmf commented on #64
Cool. It'll be nice to see how they do it.

[2015-01-14 23:36] stanzheng commented on #65
o'reilly is request,

manning is request, you can ask for it each one.

[2015-01-14 23:40] bmf commented on #64
We will probably want to do an Internet of Things (IoT) talk a couple of months prior to get people thinking about JS hardware development. I'm thinking May will be a good time. Also, Avengers: Age of Ultron comes out on May 1. I might be making a stretch here, but my thinking is people will be more sensitive to robots, hardware, and cool tech at that time. We can use that and ride the wave into J

[2015-01-14 23:40] lynnaloo commented on #51
Yes, that would be great!

[2015-01-14 23:44] lynnaloo commented on #65
That's a cryptic comment. Does that mean you requested them?

[2015-01-14 23:46] lynnaloo commented on #64
Another way to get people excited about robots and hardware is Popup Robots (hint hint). End of May is JSConf, so probably best to do something between then and NodeBotsDay. There's always hardware in the swag bag and a whole day of hacking for whoever goes to bring back to the 757.

[2015-01-14 23:48] stanzheng commented on #65
Yeah, so you can request any of these titles that are related here.

http://www.manning.com/catalog/by/subject/

[2015-01-14 23:49] bmf commented on #64
I thought Popup Robots was a given. ;) June then?

[2015-01-14 23:51] lynnaloo commented on #64
Do you want to start some issues in your pop-up robots repo? I'm down for June.

[2015-01-15 00:23] bmf commented on #64
issue started for Popup Robots meet up #2

[2015-01-15 00:30] lynnaloo commented on #65
Can you be in charge of picking these out and just post what you choose here?

[2015-01-15 00:41] stanzheng commented on #65
i've never had anyone take me up on actually even if they had a choice. It is a "get a free ebook copy of any of the books on the list" not physical so its less appetizing.

i can pick something or introduce 1-2 interesting titles

[2015-01-15 05:15] tjwebb commented on #65
I don't know why this is suddenly so complicated. I just spent 5 minutes trying to interpret @stanzheng's comments and nothing makes sense to me.

You've received physical books before, yes? You have the contacts at Manning and O'Reilly so we're relying on you to get these. If you'd rather someone else do this, email me the details needed for requesting the books.

[2015-01-15 12:58] stanzheng commented on #65
I was writing replies while distracted during a meetup.

I briefly outline both processes to get books from the publishers below, I was mentioning no one has claimed any manning press book in the past. After I collect their email (step2), no one yet has gone through the catalog and selected titles for me to request from the manning press rep.

I suggested, I could pick concretely 1-2 titles someon

[2015-01-15 16:11] lynnaloo commented on #65
OK, that makes more sense. I think it's best to choose two O'Reilly books and to choose two Manning books and raffle those off as four separate items. The reason I created this issue is so that once someone does that legwork, we need a place to keep track of the face that it was done and what books were ordered so it does not fall through the cracks.

[2015-01-16 23:48] lynnaloo commented on #65
For this coming meetup, I'm going to plan to raffle two Manning ebooks. We'll have them message their information to you @stanzheng to claim the prize. Unless you don't want to be the Manning POC, in which case just tell Manning that the new POC is me or Travis.

[2015-01-17 21:11] bmf commented on #65
The books from No Starch were not in the mail today. We'll be short our two No Starch books for the raffle this month, but on the up side, we'll have them for next month when they do finally show up. I ordered them on 1/5 thinking they'd be here by now. I'll make sure I give it more than 10 days to get here on the next go round (live and learn).

As a concession, I have Webbots, Spiders, and Scree

[2015-01-17 22:19] lynnaloo commented on #65
Maybe it might help to create a Google event for the day after each event to order the raffle stuff for the next events? We will have D&B Game cards next month as well.

[2015-01-18 03:49] bmf commented on #65
I don't think a reminder is necessary, but it couldn't hurt. We'll just need to shift how we order. In the past No Starch got here pretty quick, but the last two orders seem to have taken some extra time to get here. I'll adjust to make sure it doesn't happen again.

[2015-01-18 03:51] bmf commented on #65
Just to be clear, we have stuff to raffle, we just need to make adjustments in the ordering process. Talk to y'all about it tomorrow. :)

[2015-01-18 16:28] stanzheng opened #69 "NorfolkJS 2015 Outlook"
Meeting notes January 18
Cafe Stella 10:30am

Agenda
---
- January - Travis Webb [ES6]
- February  - Steve Hackbarth  [async]
- March - Off (Beer.js/Pop-up Robots)
- April -
- May -
- June - "Internet of Things" - Brandon & Linda
- July - International NodeBots Day + ?
- August - Off (Beer.js/Pop-up Robots)
- September -
- October -
- November
- December - Off

Mission
---
- less frameworks, more

[2015-01-18 19:59] #65 closed

[2015-01-18 20:00] lynnaloo commented on #64
We definitely need to include Pawel's IKEA-like instructions for the Sumobots: https://github.com/makenai/sumobot-jr/blob/master/sumobot-instructions.pdf.

[2015-01-18 20:13] lynnaloo commented on #69
https://github.com/norfolkjs/general-info/wiki/Things-for-Each-Meetup

[2015-01-19 14:54] bmf commented on #62
50% off any ebook in our catalgoue:
PACKT

[2015-01-19 20:15] stanzheng commented on #62
code is: JAitlhI0

[2015-01-22 01:00] bmf commented on #66
No Starch - Ordered If Hemingway Wrote JavaScript and JavaScript for Kids.

[2015-01-23 07:23] stanzheng opened #70 "Add Packt as an official sponsor"
https://www.packtpub.com/

Need to add their logo
[code]

[2015-01-27 19:01] stanzheng commented on #66
Requested but no confirmation on shipping yet.
Oreilly
---
3x  JavaScript the good Parts
Packt
---
Node Cookbook: Second Edition
Cookbook
David Mark Clements
April 2014
ISBN 139781783280438

Node.js Design Patterns
Mario Casciaro
December 2014
ISBN 139781783287314

Mastering D3.js
Pablo Navarro Castillo
August 2014
ISBN 139781783286270

[2015-01-28 01:10] lynnaloo commented on #66
I emailed PluralSight (also now CodeSchool) and they said every year we have to re-apply for sponsorship to get another box of swag. So I just submitted the information for this year.

[2015-01-28 01:21] stanzheng commented on #66
O'Reilly is switching to an e-book model for usergroup books so members will now be able to go on and pick titles like Manning.

[2015-01-28 12:27] stanzheng commented on #70
![edit_large_logo](https://cloud.githubusercontent.com/assets/3683993/5937587/27064348-a6bf-11e4-92c9-62acdef41774.jpg)
logo from packt

[2015-01-28 12:28] stanzheng commented on #66
Packt has requested and their books are in the mail.

[2015-01-29 00:06] tjwebb commented on #66
word

[2015-02-01 02:13] lynnaloo commented on #41
NodeBots SF is supposed to be sending us some pink NodeBots stickers

[2015-02-01 02:13] #62 closed

[2015-02-01 02:15] lynnaloo opened #71 "Announcements for 2/17 Meetup"
Issue for Meetup agenda items.

[2015-02-01 02:19] lynnaloo commented on #71
Sponsors so far are Grow and CodeBetter.com (financial sponsorship for catering).

[2015-02-06 17:39] lynnaloo commented on #67
Looking at getting Pam Selle here again! We'll need to put her up in the Grow hotel and get a sponsor to cover plane fare (~$300).

Slover is open to host us that night, but just need to figure out cost and catering.

[2015-02-06 20:41] qwo commented on #67
confirm will that be on third monday, April 20th or another day?

[2015-02-06 20:58] lynnaloo commented on #67
No, it would have to be a Thursday because of her Hacker School schedule. I will also be in Montreal earlier that week.

[2015-02-06 22:38] qwo commented on #67
ok cool April 23rd it is.

[2015-02-12 02:54] lynnaloo commented on #67
ETA is going to sponsor Pam's airfare, Dominion Enterprises is going to sponsor food, and CodeBetter will cover the Slover's free (unknown as of right now). Also, the 3rd Thursday is the 16th, not the 23rd.

[2015-02-12 03:11] qwo commented on #67
this sounds amazing. pumped +1

[2015-02-12 22:11] lynnaloo commented on #67
OK, I did end up booking this on the 23rd so that it would workout with the Slover schedule. She quoted me the cost of $80, so that will be covered by the CodeBetter sponsorship. I will set it up with Dominion to pay the catering costs as we get closer to the event.

[2015-02-12 22:26] lynnaloo commented on #67
@stanzheng Will you verify that Hotel Grow is available that night?

[2015-02-13 01:19] qwo commented on #67
ill pass a request along :). Is that for just the night of April 23rd?

[2015-02-13 02:44] qwo commented on #70
added to meetup

[2015-02-13 02:44] #70 closed

[2015-02-13 02:48] tjwebb commented on #68
should we remove no starch?

[2015-02-13 02:58] bmf commented on #68
Not yet. I have books from last month and I still expect books from this month, although they will most likely be late. I'll reach out to them after the meet up to see if we can come to an arrangement, if not we'll drop them as a sponsor.

[2015-02-13 03:02] tjwebb commented on #68
ok

On Thu, Feb 12, 2015 at 9:58 PM, Brandon notifications@github.com wrote:

[2015-02-17 23:48] #61 closed

[2015-02-17 23:49] lynnaloo commented on #66
What's the current book status?

[2015-02-17 23:50] tjwebb commented on #66
I think no starch isn't worth wondering every month whether no starch books are going to get here. That's my status.

thoughts? I propose we drop them and move on

[2015-02-17 23:53] lynnaloo opened #73 "React Study Group"
Looking to do a less-formal React/Flux study group maybe starting a little earlier than usual (5:30) at Slover and going until whenever people are done or the library closes.

I'm thinking first week of March so it doesn't collide with any other meetups or Robots/Beer.js.

[2015-02-17 23:59] lynnaloo commented on #66
I just put these issues in here so I know what books we have to raffle. More importantly, that we have at least one book to raffle.

[2015-02-18 00:06] qwo commented on #66
heres a pic, we got plenty  ..
if someone has some favorite titles to pick for next month let me know ... https://www.packtpub.com/all?search=&type_list%5Bbooks%5D=books&offset=&rows=&sort=
![img_20150236_191225_1024](https://cloud.githubusercontent.com/assets/3683993/6240046/f4181c3a-b6d7-11e4-8d4d-510a039540c9.png)

[2015-02-24 04:25] lynnaloo commented on #71
Dave & Busters will be there to give out game cards for raffles. The Chrysler Museum is our location sponsor.

[2015-02-24 21:26] lynnaloo commented on #71
Nice work! Thanks @bmf

[2015-02-24 21:26] #71 closed

[2015-02-24 21:28] lynnaloo commented on #67
If they can't sponsor the Growtel (see what I did there?), then maybe they'll sponsor another place for her to stay?

Also, 80/20 will be sponsoring a round of drinks after the Meet-up at the Taproom downtown.

[2015-02-24 21:29] lynnaloo commented on #66
@stanzheng Don't forget to bring a couple tonight for raffles.

[2015-02-24 21:29] #66 closed

[2015-02-24 21:30] lynnaloo commented on #51
I planned this again at the Birch since they have been so great. If the numbers look bigger than the Birch can support, we'll move to O'Connor's or Public House.

[2015-02-24 21:30] #50 closed

[2015-02-24 21:30] #49 closed

[2015-02-24 21:31] lynnaloo commented on #41
I just got the pink NodeBots stickers today!

[2015-03-12 02:02] lynnaloo commented on #63
https://github.com/norfolkjs/meetup-door-prize

This could use some serious improvements but it's a good starting place.

[2015-03-18 17:33] lynnaloo commented on #67
I got Pam's plane flights so she'll definitely be in on the 23rd. We still need to figure out her accommodations for that night. I'm tasking @stanzheng with that :)

DE is now not paying for our catering costs so I'm going to talk to Tek Systems about covering it instead.

[2015-03-18 17:34] lynnaloo commented on #68
We still have two books from Pact + O'Reilly e-books. I'll see about getting Pam's book as well since she's the speaker.

[2015-03-18 17:34] lynnaloo commented on #60
I'm going to close this and we can start a new discussion in the realm of 757Dev/757.io.

[2015-03-18 17:34] #60 closed

[2015-03-18 17:34] #51 closed

[2015-03-18 17:36] lynnaloo commented on #25
Alchemy was a great host and I'm still going to keep them as a backup, but they more expensive than Slover ($80 vs $100).
Dave & Buster's is still a good location for "Code & Coffee" and Robots stuff.
Hatch is still a good location for our smaller meetups/workshops.

[2015-03-18 17:39] lynnaloo commented on #21
Hiro gave us a talk in December and Pam is coming down in April.

Would like to get Mike Hostetler down here too: http://appendto.com/team/mike-hostetler/ @tjwebb?

[2015-03-18 17:40] lynnaloo commented on #41
I am going to send some stickers to Famo.us as soon as I can remember to!

[2015-03-18 17:51] bmf commented on #68
I also still have our last batch from nostarch. We should remove them as a
sponsor after we give these away tho.

On Wed, Mar 18, 2015 at 1:34 PM, Linda Nichols notifications@github.com
wrote:

[2015-03-18 20:22] jalbertbowden commented on #21
pam from philly? when is she speaking? bout what?

[2015-03-18 20:50] tjwebb commented on #21
cc @mikehostetler . Interested? If it works with your schedule, we'd love to have you give a talk on... anything. Or, if you want to just hang out, that's ok too.

She's giving a talk on how to choose the right javascript framework for your project, and will go over a few of them. We'll announce the meetup soon, but it'll be on April 23.

[2015-03-18 21:16] mikehostetler commented on #21
I'm coming that direction in late June.  Are you planning out that far yet?

6/24 - 6/28 I'm planning to be near Washington DC
6/29 - 7/1 I'll be near Virginia Beach & Norfolk

[2015-03-19 02:02] jalbertbowden commented on #21
nice! great job guys. think i may climb out of the cave for one of these.

[2015-03-19 06:13] tjwebb commented on #21
Cool. Giving people a reason to come out of the cave is, after all, what
norfolkjs is here for :)
On Mar 18, 2015 10:03 PM, "albert" notifications@github.com wrote:

[2015-03-19 18:30] lynnaloo commented on #21
@jalbertbowden I made an event for Pam's talk, but I haven't announced it yet until she gives me a summary. Her book is on choosing frameworks, but not 100% sure about the talk yet. She's in Hacker School in NYC right now, so that might be something interesting to touch on as well.

[2015-03-20 19:31] lynnaloo commented on #64
For this year, I'd like to open up the back door of the Makerspace and do NodeBoats and NodeCopters. I also have some Arduino Bits running on JavaScript so Little Bits might be an interesting "station" to setup as well. I'm going to be on the lookout before July also for another 4-5 dedicated volunteers to help people build and code the bots.

[2015-03-21 03:28] bmf commented on #64
The flight area you are talking about is right next to the parking lot. This makes me think there might be a possibility of personal property damage due to an inexperienced operator or whatever. Doesn't that open us up to some liability if something like that were to happen?

[2015-03-21 03:35] bmf commented on #64
To clarify, I'm thinking an outside demo of a Nodecopter would be cool, but having multiple inexperienced people flying them in that tight of an area might be a bad idea.

[2015-03-21 03:52] lynnaloo commented on #64
757 Makerspace has already been doing some drone flying in that area on Fridays/Sundays so for free-flying we have the option to use their rules/format. For kids and inexperienced flyers, we can setup physical barriers and also limit the actions with the code they're running. With Node, we can set a queue of specific actions so they do a controlled flight (possibly through obstacles).

[2015-04-01 01:29] lynnaloo opened #74 "Agenda Items for April Meetup"
Sponsors: Grow (hotel), Tek Systems (food), CodeBetter.com (slover fee), 80/20 Consulting (drink-up afterward)
- Placeholder for Tessel.io discount (don't place somewhere on the interwebs)
- 80/20 is hosting an drink-up at Tap Room for an hour after the meet-up
- Next PopUp Robots Date

[2015-04-01 02:58] troy0820 commented on #73
If you do this in April, can it NOT be the week of the 13.  I know we have a pop-up robots event that week but I should be out of town and I don't wanna miss this.

[2015-04-01 03:16] lynnaloo commented on #73
Maybe we can shoot for the last week of the month or early May. @tjwebb and I both want to do it, but we've been busy on alternate weeks.

[2015-04-07 16:14] lynnaloo commented on #27
Was talking to @jasonrhodes from NodeSchool Baltimore about coming down and doing a NodeSchool workshop. We could do it around the Tides baseball schedule so he can catch a game as well.

[2015-04-07 23:05] lynnaloo commented on #68
What do we have in the way of swag? I have two books left here from Pact: Node Cookbook and D3.

[2015-04-07 23:06] #69 closed

[2015-04-08 18:21] qwo commented on #68
Packt never responded back. Theres always Manning and O'Reilly, no physical copies

[2015-04-08 18:26] bmf commented on #68
I think I have 2 No Starch books left. I'll let you know when I get home.

On Wed, Apr 8, 2015 at 2:21 PM, Stanley Zheng notifications@github.com
wrote:

[2015-04-21 16:49] #67 closed

[2015-04-21 16:50] lynnaloo commented on #68
Whoever has swag, don't forget to bring it on Thursday! @bmf @stanzheng

[2015-04-21 16:50] #68 closed

[2015-04-21 16:58] lynnaloo opened #75 "Speakers/Ideas for May"
Date for this meet-up is May 18th. I would like to have a local speaker if anyone is interested in suggesting a talk.

Also, I'll still be doing all of my normal sponsor organizing for food/venue, but there's a very good chance I won't be in town for this Meet-up so I'd like to get the details nailed down before early May.

[2015-04-22 00:45] bmf commented on #74
add Balderdash

[2015-04-22 21:40] bmf commented on #74
add Building the Slover library panel discussion
Tuesday, April 28at 11:45am - 1:00pm in EDT

[2015-04-23 04:46] tjwebb commented on #74
http://balderdash.co/img/logo.jpg

[2015-04-23 05:28] #74 closed, assigned to nobody

[2015-04-24 13:57] qwo opened #76 "Add Balderdash as a sponsor"

[2015-04-24 14:03] bmf opened #77 "May Agenda"
Need:
- Sponsor list
- Graphic for the Slack Announcement (animated gif?)
- Upcoming events list
- List of discounts we want to mention
- Speaker name and title of talk

[2015-04-24 14:07] bmf commented on #77
Sorry @jalbertbowden, I clicked the wrong name.

If anyone knows how to un-assign, please let me know. Not seeing it in help.

[2015-04-24 14:09] bmf commented on #77
Or I guess, I did figure it out. I think I need more coffee. </endspam>

[2015-05-07 00:34] lynnaloo commented on #77
Sponsors are Hatch (Location), 80/20 (beer), UDig (tacos).
Dominion Enterprises and CodeBetter.com are our re-occuring monetary sponsors.

Upcoming Events:
NodeBotsDay 7/27. Still looking for more volunteers for teaching, coordinating, etc.

[2015-05-07 00:35] lynnaloo commented on #73
@tjwebb Is going to do an intro talk in May to get us kicked off, but we'll probably still do sporadic study groups for anyone who is interested in hacking React.

[2015-05-07 00:35] #41 closed

[2015-05-07 00:43] lynnaloo opened #78 "Speaker/Ideas for June"
June 22nd is the date (pushed back a week because of travel schedules)

[2015-05-07 00:44] lynnaloo opened #79 "Speaker/Ideas for August"
August 17th - Matt Campbell from Grow "Modern JavaScript Inheritance"

[2015-05-07 04:29] jalbertbowden commented on #77
de is a sponsor? i thought this group was started to be open because de wasn't

[2015-05-07 04:59] lynnaloo commented on #77
By "monetary sponsor" I mean that they're giving us money for food/fees/etc to support having our meet-ups in public spaces like the library and the arts district. It unfortunately costs us a lot more to not meet in local business spaces.

[2015-05-07 05:50] tjwebb commented on #77
@jalbertbowden Norfolk.js has numerous recurring expenses. DE providing some money for this does not make the group any less open, it actually helps ensure that we can continue doing what we've been doing. If a sponsor attaches any conditions to sponsorship which contradict the values of the group, we will not accept it.

[2015-05-07 11:48] metaskills commented on #77
AGREED - DE is now sponsoring the 757.rb in the same way too. Really proud of them ramping up. Baby steps for this area getting better. Hopefully optimistic!

[2015-05-07 15:19] jalbertbowden commented on #77
everything runs on money
thats kewl

On Thu, May 7, 2015 at 7:48 AM, Ken Collins notifications@github.com
wrote:

##

J. Albert Bowden II

jalbertbowden@gmail.com

http://bowdenweb.com/

[2015-06-22 16:28] qwo commented on #78
@lynnaloo guess this is an old date. we had beerjs last week, ok to close?

[2015-06-22 16:31] lynnaloo commented on #78
Yep!

[2015-06-22 16:31] #78 closed, assigned to nobody

[2015-06-22 16:31] #75 closed, assigned to nobody

[2015-06-22 16:32] #77 closed, assigned to bmf

[2015-06-22 18:00] lynnaloo commented on #79
Not sure about location/food sponsor yet. Summer is a slow time, so might do a smaller venue like Hatch or in the arts district.

[2015-06-22 18:00] lynnaloo commented on #76
Done?

[2015-06-22 18:23] qwo commented on #76
dont think so, dont have a logo.

http://www.norfolkjs.org/sponsors/

[2015-06-22 18:25] lynnaloo commented on #76
@tjwebb ping

[2015-07-21 20:25] #64 closed

[2015-07-21 20:34] lynnaloo commented on #76
Done and also added ETA

[2015-07-21 20:34] #76 closed, assigned to nobody

[2015-07-21 20:36] lynnaloo opened #80 "Slides/Agenda for August 2015"
Speaker Matt Campbell
Location: Hatch
Food sponsor: Balderdash/Draft
Drink sponsor: 80/20 consulting
Swag: Treehouse t-shirts, also need to get books from book sponsors

[2015-08-09 17:43] lynnaloo commented on #80
@bmf @stanzheng What do we have in the way of raffle stuff? I know we have Treehouse swag and I have some random JSConf swag as well.

[2015-08-09 17:48] lynnaloo commented on #79
Tek Systems was going to sponsor, but then they didn't follow-up so I decided to go with the cheaper venue (considering catering) of Hatch.

[2015-08-10 01:56] qwo commented on #80
haven't made a request yet i will follow up this week. otherwise no stuff
on hand

On Sun, Aug 9, 2015 at 1:43 PM, Linda Nichols notifications@github.com
wrote:

##

Stanley Zheng

[2015-08-17 03:55] bmf commented on #80
Slides are up.

[2015-08-17 03:55] #80 closed, assigned to nobody

[2015-09-09 14:40] #79 closed, assigned to nobody

[2015-09-09 14:42] lynnaloo opened #81 "Speaker/Ideas for September"
- Joey D. is talking on Inline Css
- Pierce/McCoy is giving us meeting space
- Going with Brutti's Catering for food
- Travis is talking to DE for other sponsorship to promote their hack event

[2015-09-09 14:43] lynnaloo opened #82 "Slides/Agenda for September 2015"
### Sponsors
- Pierce/McCoy Law (location sponsors)
- 80/20 Beer sponsor
- CodeBetter.com (default sponsor)
- Balderdash (food/drinks)
### Events
- Meetup of Meetups - Oct 1st at Public House
- Meteor Worldwide Hackathon - Oct 10th (Paul Chin organizer)
- Pop-up Robots - Oct 15th
- Next Norfolk.js meetup - Unit Testing with Ryan Quinn - Oct 19th
- Hack to Help - Oct 23-24 - Dominion Enterprises
-

[2015-09-09 15:28] troy0820 commented on #81
Brutti's in Portsmouth? They have pretty great food

[2015-09-13 20:18] lynnaloo commented on #81
Yeah, I know the owner so I think we can get a better deal.

[2015-09-13 20:20] lynnaloo opened #83 "Speaker/Ideas for October"
October 19th
- Ryan Quinn is talking about Unit Testing
- Location is hopefully Pierce/McCoy again

[2015-09-21 03:42] bmf commented on #82
Slides are up.

[2015-09-21 03:42] #82 closed, assigned to nobody

[2015-09-21 03:43] bmf commented on #82
http://rawgit.com/norfolkjs/general-info/master/announcements/september_2015.html#/

[2015-09-21 21:06] nogtini commented on #82
Slides for tonight:

https://docs.google.com/presentation/d/1fcK6CxhDfpvHUIXsBpbXLsx5Bu6AwNMkDt839LSnTXc/edit?usp=sharing

[2015-09-21 22:30] wbprice opened #84 "Polymer 1.1 Talk"
I'd like to do a talk on my experience with Polymer (whenever) in November?.

[2015-09-21 22:53] codingcampbell commented on #84
Yes please :+1:

[2015-09-22 16:24] lynnaloo commented on #84
Yes definitely to the talk, but November might not be available. I'll get back to you on that.

[2015-09-22 16:24] #81 closed, assigned to nobody

[2015-09-26 01:50] metaskills opened #85 "Turbo Applications - Winning with Ajax + pushState + Rails"
So I just finished up a Rails app that leverages Turbolinks v3 and I can't wait to share the details. I'd love to do a presentation for NorfolkJS and advertise to 757rb too. What do y'all think? Obviously, I will come up with  better title & description if we can set a date.

[2015-09-28 11:47] metaskills commented on #85
WOW, I actually put half the talk together this weekend. Even tho Rails is in the title, this application methodology is agnostic and adopted by other language/frameworks like Python, Django, PHP, Grails, ASP.NET, etc.

Don't worry, half the talk is purely on the JavaScript lib and what it is doing. What do y'all think?

[2015-09-28 13:19] qwo commented on #85
Sounds like a diverse topic. @lynnaloo mentioned in #84 that November slot might be taken this year and we have Beer.js in December. Have to wait for her to chime in to confirm but the next free Norfolk.js might be after the new year.

Any thoughts about cross-organizing it under polyglot or we could make a mirror event for November if you're planning to have it then under @757rb.

[2015-09-29 14:47] lynnaloo commented on #85
Sorry, I saw this and forgot to respond. I think this looks really cool, but :+1: to what @stanzheng said, our next spot is January as of right now. What about submitting it to hrdevfest? This is the last week to submit talks and that would be a good polyglot audience.

[2015-10-19 01:03] lynnaloo commented on #84
This is happening in November. Meetup event will be published tonight.

[2015-10-19 01:03] #84 closed, assigned to nobody

[2015-10-19 01:03] #83 closed, assigned to nobody

[2015-10-19 01:32] lynnaloo opened #86 "Slides/Agenda for October 2015"
### Sponsors
- Pierce/McCoy
- CodeBetter.com
- 80/20
### Events
- Hack to Help - Oct 23-24 - Dominion Enterprises
- Next Norfolk.js meetup - "It’s Components All The Way Down" - Blain Price on Nov 16th
- Pop-up Robots - Nov 19th
- HrDevFest Nov 13th/14th
- Harbor Lights 5K 757Dev Team - Nov 20-22nd

[2015-10-27 14:43] qwo commented on #86
past date

[2015-10-27 14:43] #86 closed, assigned to bmf

[2015-11-02 20:16] bmf commented on #55
Housekeeping

[2015-11-02 20:16] #55 closed

[2015-11-02 20:16] bmf commented on #63
Housekeeping

[2015-11-02 20:16] #63 closed

[2015-11-02 20:18] bmf commented on #27
Are we looking at doing this in the spring of '16?

[2015-11-02 20:19] bmf commented on #48
@lynnaloo is this covered now or are we still looking for other sponsors?

[2015-11-02 20:21] bmf commented on #21
Housekeeping

[2015-11-02 20:21] #21 closed

[2015-11-04 16:08] lynnaloo commented on #48
I'll close this and start a new issue for general sponsorship to keep open. We are constantly in need of sponsorship for everything except location at this point so the issue is a good reminder to organizers to keep asking companies that they have relationships with.

[2015-11-04 16:08] #48 closed

[2015-11-04 16:09] lynnaloo commented on #27
I assigned myself and I'll ping Jason again to see what his schedule looks like for 2016.

[2015-11-04 16:09] lynnaloo commented on #73
I'll go ahead and close this one and @yejodido can start a new thread for the proposed "front-end" meetup + coffee.

[2015-11-04 16:09] #73 closed, assigned to nobody

[2015-11-04 16:10] lynnaloo commented on #85
We're tentatively planning for 2016 if you want to get in there for Jan/Feb @metaskills

[2015-11-04 16:10] #25 closed

[2015-11-04 16:15] lynnaloo opened #87 "Group sponsorship"
We're still looking for sponsors for:
- Paying for food at least once a quarter (must agree to at least 3 months)
- Paying for drinks/coffee for Beer.js or Fez
- Monthly Monetary support for other things such as stickers, meetup.com costs, special events like NodeBotsDay, robotics equipment for PuR, software/books for raffles
- NodeBots Day sponsors

[2015-11-04 19:15] jasonrhodes commented on #27
Linda is great and I am the literal worst and yes ping me and we can talk about possibilities maybe for early next year or spring…

[2015-11-13 23:49] bmf opened #88 "November Agenda Slides"

[2015-11-15 23:06] lynnaloo commented on #88
Food Sponsor - Comparity
Beer Sponsor - 80/20
General Sponsor - Code Better

Events:
Popup Robots
Harbor Lights: 11/24
Holiday Beer.js: 12/16

[2015-11-15 23:16] bmf commented on #88
Slides are up.
rawgit.com/bmf/general-info/master/announcements/november_2015.html

[2015-11-15 23:16] #88 closed, assigned to nobody

[2015-11-17 14:39] bmf opened #89 "January Agenda"
January 18th 2016

Food sponsor -Dominion Enterprises
Beer sponsor - 80/20
Location sponsor - Pierce/McCoy
Events - PopUp Robots, Fez, Revolution Conf (leave this on the slides until May 13th)

Lightning Talks (5 min) - Stanley Zheng and Paul Chin
Frances Coronel will be the feature presentation.

We can remove CodeBetter from the general slide deck since their support will now be sporadic.

[2015-11-30 18:50] lynnaloo opened #90 "February Agenda"
Feb 15th

Food sponsor: SSI (contact Josh Lumley josh@supersystemsinc.com)
Beer sponsor: 80/20
Travel sponsor: Balderdash
Lodgin sponsor: Grow
Location sponsor: Pierce/McCoy
Events: PopUp Robots,
Fez,
Revolution Conf (call for speakers is done, but tickets open soon),
Tech-Connect:
http://www.meetup.com/757-Polyglot-Developers/events/228788665/

Feature Presentation: 3rd Annual Sharpen Your Saw (@

[2015-11-30 18:55] lynnaloo opened #91 "December Agenda"
- Beer.js > "Tech the Halls" with UXPA
- UXPA is sponsoring appetizers
- Location is the the Birch (same as Beer.js)
- Balderdash is sponsoring some/partial beers

[2015-11-30 18:56] lynnaloo commented on #91
I'm currently working with The Birch to secure the restaurant for two hours for a "private" event so we can guarantee enough space to invite the other meetup groups.

[2015-12-15 20:10] lynnaloo commented on #89
Speaker is going to be Frances Coronel - Topic TBD

[2015-12-17 01:46] qwo commented on #89
@ChrisSpillers might be interested in doing a lightning talk about client unit testing

[2015-12-17 03:21] lynnaloo commented on #89
@pchinjr is going to do a 5 minute lightning talk. Does Chris was to do longer than 5?

[2015-12-17 16:51] ghost commented on #89
A 5 minute lighting talk works for me.

[2015-12-17 17:04] qwo commented on #89
@chrisspillers it looks like #90 also still open, if you'd like to do a 10 minute lightning or need more time :). I just made a suggestion.

[2015-12-17 17:24] ghost commented on #89
The topic can be adapted well to fit any time duration.  I'll propose a full talk for February in #90 and I can scale it down to a lighting talk if needed.

[2015-12-17 17:32] ghost commented on #90
I would be interested in presenting on the current tools/techniques for client-side unit testing.  I can build a full presentation/demo and scale it down to a lighting talk as needed.

[2015-12-17 17:36] lynnaloo commented on #89
We already have full-length talks setup until May really (I'm behind updating Github), so I longer-than-usual lightning talk in February or March would be great.

[2015-12-17 17:42] ghost commented on #89
Ok cool, I'll prepare for a lighting talk in Februrary then.

[2015-12-17 17:43] ghost commented on #90
^ make that a lighting talk per #89

[2015-12-17 17:47] ghost commented on #90
Lightning talking *

[2015-12-17 17:47] lynnaloo commented on #89
:+1:

[2015-12-18 02:36] #91 closed, assigned to nobody

[2015-12-18 03:09] lynnaloo opened #92 "March Agenda"
March 21st

Food Sponsor: Dominion Enterprises ($250)
Beer Sponsor: 80|20 Consulting
Location Sponsor: Pierce/McCoy
Events: Revolution Conf, PopUp Robots, Fez

Feature Presentation: @troy0820 ESLint 2.0
Lightning Talk(s): @haustin7 - Using Modularized Gulp Tasks In Node Development

[2015-12-18 03:11] lynnaloo commented on #27
@jasonrhodes I'm going to tentatively schedule you for April 20th. We can sponsor transportation and an overnight stay if need either/both.

[2015-12-18 03:15] lynnaloo opened #93 "May Agenda"
Revolution Conf - Beer.js this month.

[2015-12-18 03:15] lynnaloo opened #94 "April Agenda"
April 25th

Food Sponsor: Langa
Beer Sponsor: 80/20
Location Sponsor: Pierce/McCoy
Hotel Sponsor: Grow
Events: Revolution Conf (omg < 10 tickets left), PopUp Robots, Fez

Feature Presentation: Jason Rhodes @jasonrhodes
Lightning Talk(s): Blaine Price "Don't commit your ugly commits"

[2015-12-18 03:18] lynnaloo opened #95 "June Agenda"
Food Sponsor: Langa
Beer Sponsor: 80/20 Consoluting
Location Sponsor: Pierce/McCoy
Other Sponsor: Yilb (Franc)
Events: PopUp Robots, Fez, SushiJS, NodeBotsDay, HRDevFest

Feature Presentation: Travis Stokes on Angular 2
Lightning Talk(s): @1kevgriff "Living in the moment()"

[2015-12-18 13:53] jasonrhodes commented on #27
OK sounds good! We can work out details as it gets a little closer. And let me know what your sponsorship needs/details are so I can pass them on...

[2015-12-22 04:39] pchinjr commented on #89
Hi everyone, working title of my lightning talk is going to be "Pull Requests Are Magic". I'm stoked to work on it and present.

[2015-12-22 05:14] tjwebb commented on #89
+1

[2015-12-22 15:14] bmf commented on #89
+1 for giving a lightning talk.
You can earn an extra +1 by adding a screen shot from Netflix's The Ridiculous Six with the caption "That's some mystical shit!"

P.S. I wouldn't recommend that movie to my worst enemy, but I think the quote is appropriate.

[2016-01-05 00:05] stanzheng commented on #89
+1

also to be super flaky i probably won't have a talk prepared (anything interesting enough) to talk about by next meetup. so @pchinjr add extra gifs! can you do 10 minutes?

[2016-01-05 00:12] troy0820 commented on #92
Was I doing Vue.js or did you want me to do a talk on eslint?  What's great is that if I do this talk in March, the podcast for eslint will have already aired lol.

[2016-01-05 03:21] lynnaloo commented on #92
It's up to you. I'm down for either. @bmf Do you want to lightning talk?

[2016-01-05 03:23] lynnaloo commented on #89
+1 to @bmf who had the idea that we should add lightning talks

[2016-01-05 16:51] bmf commented on #92
Not this go around, but I will in the future. Thank you for offering!

[2016-01-18 12:20] #89 closed, assigned to nobody

[2016-01-19 05:43] lynnaloo commented on #90
@chrisspillers - @shackbarth is doing something related to testing for his Sharpen Your Saw talk/workshop if you guys want to coordinate?

[2016-01-20 17:22] ghost commented on #90
@lynnaloo good idea.  @shackbarth I am planning to do a quick 5 min. lightning talk covering the current ecosystem for writing/running client-side unit tests and automated E2E testing.  What type of testing/tooling do you plan to cover?

[2016-01-21 03:39] shackbarth commented on #90
The tool I'm planning to go over is mocha (with a bit of webpack or browserify) but one viewpoint I'm going to push is that you shouldn't need to use the DOM to unit-test your clientside business logic. So I'll likely throw some shade on karma/jest/jsdom/etc. Browser-based e2e testing, on the other hand, I'm going to position as a great idea that's outside the subject of my talk.

So it would be s

[2016-01-31 06:22] ghost commented on #90
Ok cool, to complement your presentation how about I discuss e2e testing on the Mocha + Chai/WebDriverJS/Selenium stack?

[2016-01-31 06:26] ghost commented on #90
Do the lightning talks generally go before the main presentation?  If that's the case and my lightning talk is more or less an e2e testing extension of yours then maybe I should present after you?

[2016-02-14 03:16] lynnaloo commented on #90
@chrisspillers your talk will be just before Steve's so you should have some time in the beginning to figure out logistics.

[2016-02-14 03:53] ghost commented on #90
Ok cool.

[2016-02-15 15:37] bmf commented on #90
announcements are up. http://rawgit.com/norfolkjs/general-info/master/announcements/february_2016.html#/5

[2016-02-15 15:37] #90 closed, assigned to bmf

[2016-02-15 23:50] ghost commented on #90
My slides: http://slides.com/chrisspillers/browser-e2e-testing

[2016-02-16 16:47] qwo commented on #90
awesome talk @chrisspillers ! Really enjoyed it

[2016-02-17 23:39] ghost commented on #90
@stanzheng ty!  I'm happy to hear that and really appreciated having the chance to present :)

[2016-03-23 18:25] #92 closed, assigned to nobody

[2016-03-27 00:46] jasonrhodes commented on #94
Ok so a few questions here:
- Typical audience size?
- Is the group ok with something that focuses on learning nodejs,
  basically? Or expecting something different?
- How long should the presentation last?
- What kind of presentation will the group be most comfortable with?
  Workshop where they are expected to bring their laptop and work through it
  with me, or more of a "me talking them throug

[2016-03-27 20:27] lynnaloo commented on #94
We typically have about 30-35 people. Learning Node should be great. There are a lot of people in our group that would really like an intro. You have about two hours to work with so we're pretty open to length and format. Most people will have laptops, so "taking them through something" would probably be cool.

Email me and I'll get you setup for travel stuff lynnaloo@gmail.com.

[2016-03-28 00:03] troy0820 commented on #95
International Sushi day is the 18th of June but that's a Saturday.  I wanted to do something for that.  Is that more of an informal thing, like more of a lunchtime thing?

[2016-04-05 03:04] lynnaloo commented on #95
@troy0820 Make a meetup for ISD!

[2016-04-05 03:05] lynnaloo opened #96 "July Agenda - International NodeBotsDay"

[2016-04-05 03:06] lynnaloo opened #97 "September Agenda"
September 19th

Food Sponsor: Langa
Beer Sponsor: 80/20 Consoluting
Location Sponsor: Pierce/McCoy
Events: HrDevFest, Revolution Conf (June 1-2), PopUp Robots, Fez

Feature Presentation: Travis Webb - API Driven Development with TrailsJS
Lightning Talk(s): Brandon about NodeBots Day

[2016-04-05 03:07] lynnaloo opened #98 "August Agenda"
Beer.js

[2016-04-22 13:59] qwo opened #99 "Add Langa as a Sponsor"
need to add Langa as a sponsor on the meetup page. Need logo

[2016-04-24 21:38] lynnaloo opened #100 "Add CoC to our slide deck"
https://github.com/norfolkjs/general-info/blob/master/CODEOFCONDUCT.md

[2016-04-25 01:15] bmf commented on #100
added http://rawgit.com/norfolkjs/general-info/master/announcements/april_2016.html#/

[2016-04-25 01:15] #100 closed, assigned to nobody

[2016-04-25 01:15] bmf commented on #94
Announcements are up. http://rawgit.com/norfolkjs/general-info/master/announcements/april_2016.html#/

[2016-04-25 01:15] #94 closed, assigned to nobody

[2016-04-25 03:36] troy0820 opened #101 "Promote Sushi JS in June 17th at Sushi King in Norfolk"
- Promte Sushi JS at Sushi King on June 17th, the Friday before Norfolk.JS in June.

[2016-04-25 14:20] bmf commented on #101
Added to the April announcements

[2016-06-07 14:51] pchinjr opened #102 "Video recording of June presentations"
Hey everyone, I won't be able to make the June presentations. I can meet up with someone earlier that day to hand over the video/audio gear if you all want to keep recording it.

[2016-06-07 19:01] troy0820 commented on #93
Can we close this?

[2016-06-07 19:29] #93 closed, assigned to lynnaloo

[2016-06-07 19:54] #101 closed, assigned to nobody

[2016-06-07 19:54] troy0820 commented on #95
- Meetup made
- Add event to slides for June Event

[2016-06-08 14:34] lynnaloo commented on #102
@stanzheng @troy0820 @bmf Can one of you take over the video-recording for a night?

[2016-06-08 14:35] lynnaloo commented on #99
@tjwebb Can you put your latest logo here?

[2016-06-08 14:36] lynnaloo commented on #98
@tjwebb and I will be out of town, so we need someone else to show up a little early and make sure there are enough tables/chairs. Malia will have our area reserved in advance.

[2016-06-08 14:46] bmf commented on #102
Sorry, I'm not going to be at this meetup.

[2016-06-08 14:52] troy0820 commented on #102
I'll give it my best shot, just guide me through what to do 👍

[2016-06-12 21:02] lynnaloo commented on #95
![pasted image at 2016_06_10 08_56 pm](https://cloud.githubusercontent.com/assets/1610195/15993802/80dd1244-30bf-11e6-873a-f1a0fbf8f8c8.png)

[2016-06-13 01:00] bmf commented on #95
Agenda Added. Y'all have fun now, y'hear? :) http://rawgit.com/norfolkjs/general-info/master/announcements/june_2016.html

[2016-06-13 01:00] #95 closed, assigned to nobody

[2016-06-13 01:05] lynnaloo commented on #95
You will be missed!

[2016-06-13 19:51] #27 closed

[2016-09-07 13:04] lynnaloo commented on #97
@bmf @troy0820 I know ya'll both have lightning talks coming up at HRNUG. Do you want to add to announcements?

[2016-09-07 13:06] lynnaloo opened #103 "October Agenda"
October 17th

Food Sponsor: Langa
Beer Sponsor: 80/20 Consoluting
Location Sponsor: Pierce/McCoy
Events: HrDevFest, Revolution Conf (June 1-2), PopUp Robots, Fez, Ferguson Hackathon

Feature Presentation: Joey Di Nardo
Lightning Talk(s): Linda Nichols (Amazon IoT)

[2016-09-07 13:06] lynnaloo commented on #103
Talking to @reconbot about possibly coming down from NYC to speak.

[2016-09-07 13:07] lynnaloo opened #104 "November Agenda"
November 14st

Food Sponsor: Langa
Beer Sponsor: 80/20 Consoluting
Location Sponsor: Pierce/McCoy
Events: HrDevFest, Revolution Conf (June 1-2), PopUp Robots, Fez

Feature Presentation: Kevin Griffin
Lightning Talk(s): Erik Olson - Managing Project Work with Github Issues

[2016-09-07 13:07] lynnaloo commented on #104
@1kevgriff Are you interested in doing your JS Pokemon talk/workshop?

[2016-09-07 13:16] 1kevgriff commented on #104
@lynnaloo I'd love to do a talk about it.  We wouldn't have time to do a proper workshop with it - but I'm pretty good about complaining for an hour.

[2016-09-07 13:30] troy0820 commented on #97
Yes, we can add it to the announcements.  I think it'll be good.

[2016-09-10 19:33] lynnaloo commented on #104
@1kevgriff Can I move you to October so @reconbot can have November (he's honeymooning in October).

[2016-09-18 15:04] bmf commented on #97
http://rawgit.com/norfolkjs/general-info/master/announcements/september_2016.html

Announcements are done. I left off the lightning talks because Troy did his prior to this meetup and mine isn't until april, 2017. I'd also like to do one @ Norfolk JS around the same time if possible. The topic will be a sneak peek into our plans for Intl Nodebotsday 2017.

[2016-10-04 20:23] troy0820 commented on #103
so @yejodido is talking this month, who is doing the lightning talk?

[2016-10-04 20:29] lynnaloo commented on #103
It's not confirmed, yet. Galina is working on a topic and if she doesn't do it for October then I may do one.

[2016-10-04 20:37] lynnaloo commented on #104
@1kevgriff I'm putting you in this slot, title TBD.
@reconbot I'm going to work out a date in the Spring when you're not on your long honeymoon and I'm in town more to work out travel logistics.

[2016-10-04 20:37] #98 closed, assigned to nobody

[2016-10-04 20:37] #97 closed, assigned to nobody

[2016-10-04 20:38] lynnaloo commented on #102
The video didn't make it for this meetup, but I'm going to assign this to Paul to try to marry the audio with the slides.

[2016-10-04 20:38] #99 closed, assigned to tjwebb

[2016-10-04 20:38] #96 closed, assigned to nobody

[2016-10-04 20:40] lynnaloo commented on #85
I think this is stale @metaskills, but you should submit another topic or come give us a lightning talk!

[2016-10-04 20:40] #85 closed, assigned to nobody

[2016-10-05 13:45] lynnaloo commented on #104
Yes, actually Jan/Feb would be better for getting you a flight and hotel as well. I'll tentatively schedule you for January and check-in at the beginning of December.

[2016-10-06 19:55] 1kevgriff commented on #104
Woot woot.

[2016-10-17 03:39] bmf commented on #103
Agenda is up: http://rawgit.com/norfolkjs/general-info/master/announcements/october_2016.html#/

[2016-10-17 03:39] #103 closed, assigned to nobody

[2016-11-01 15:04] lynnaloo opened #105 "December Agenda"
Beer.js on December 20th.

[2016-11-01 15:06] lynnaloo opened #106 "January Agenda"
January 23th

Food Sponsor: Langa
Beer Sponsor: 80/20 Consoluting
Location Sponsor: Pierce/McCoy
Events: Revolution Conf (June 1-2), PopUp Robots, Fez, Late Night Coders

Feature Presentation: Francis @reconbot
Lightning Talk(s): @intentions Kurt Strosahl - Xeon Phi

*edit - Moved date to January 23rd for schedules/holiday

[2016-11-01 15:09] lynnaloo opened #107 "February Agenda"
February 20th -"Sharpen Your Saw"

Food Sponsor: Langa
Beer Sponsor: 80/20 Consoluting
Location Sponsor: Pierce/McCoy
Speaker Lodging Sponsor: Grow
Events: Revolution Conf (June 1-2), PopUp Robots, Fez, Late Night Coders

Feature Presentation: @shackbarth
Lightning Talk(s): Troy Connor @troy0820

[2016-11-15 00:25] intentions commented on #106
If there is interest I'd be willing to give a short talk on the Xeon Phi cluster that I work on at JLab.  It is the cluster that got on the top500 list.

(I'm Kurt Strosahl on the 757dev slack channel).

[2016-11-15 13:24] bmf commented on #106
@lynnaloo That's not the correct date for this meetup is it? PUR is scheduled on the same day.

[2016-11-15 13:51] qwo commented on #106
Hmm that Monday, January 16 is MLK day so I think that's why it got bumped

[2016-11-15 14:39] lynnaloo commented on #106
January 16th is the date. I just typed it in wrong.

[2016-11-15 14:42] bmf commented on #106
Good deal. Thank you for checking.

[2016-11-15 14:46] lynnaloo commented on #106
@intentions I already have Joe scheduled to do a lightning talk this month, so it's likely going to be Feb/March if that's OK. I think that would be a really cool talk!

[2016-11-15 14:49] bmf commented on #106
@reconbot 6pm

[2016-11-15 21:50] intentions commented on #106
either Feb or March works for me.  Just let me know which is best for you.

[2016-12-05 17:07] lynnaloo opened #108 "March Agenda"
March 20th - Lightning Talk Bonanza!!!

Food Sponsor: Norfolk Development http://www.norfolkdevelopment.com/
Beer Sponsor: ETA
Location Sponsor: Pierce/McCoy
Events: Revolution Conf (June 1-2), PopUp Robots, Fez, Late Night Coders, NodeBots Day

Lightning Talks: 6
@cupofjoey Joe Hill - Swift Development
@wbprice - Blaine Price - This is my Boomstick
@guillermoandrae  - Guillermo Fisher -  You're P

[2016-12-05 17:09] lynnaloo opened #109 "April Agenda"
April 17th -"Vue.js"

Food Sponsor: Langa
Beer Sponsor: ETA
Location Sponsor: Pierce/McCoy
Events: Revolution Conf (June 1-2), PopUp Robots

Feature Presentation: @codingcampbell
Lightning Talk(s): @iambriansreed - RevolutionConf's community driven content management website.

[2016-12-05 17:10] lynnaloo commented on #109
If we don't do the Lightning Talk Bonanza in February, then it will be this month.

[2016-12-14 06:14] lynnaloo commented on #106
@cupofjoey are you still available on Jan 23rd for the lightning talk?

[2016-12-14 06:17] lynnaloo commented on #108
@intentions ✅

[2016-12-14 06:24] cupofjoey commented on #106
@lynnaloo arrgh I forgot about that. I really won't have much to show to be honest. :/ Just a couple of simple apps built using Swift (random quote machine and maybe a bubble popper) will that be ok?

[2016-12-14 06:37] lynnaloo commented on #106
If you want to wait until March, I can add it to the Lightning Talk Bonanza.

[2016-12-14 06:39] cupofjoey commented on #106
@lynnaloo waiting till March will be great actually.

[2016-12-14 15:47] lynnaloo commented on #106
@intentions is in for January and you're part of the "bonanza" in March @cupofjoey

[2016-12-26 23:27] wbprice commented on #108
I'd like to give a lightning talk titled *This Is My Boomstick*, which will be about the Raspberry Pi-powered arcade controller I'm building.

[2017-01-16 20:07] bmf commented on #106
@reconbot What is the title of your talk?

[2017-01-16 20:08] bmf commented on #106
@reconbot never mind, it's in the other place that I didn't look.

[2017-01-16 20:18] bmf commented on #106
Agenda slides posted. Link here: http://rawgit.com/norfolkjs/general-info/master/announcements/january_2017.html

[2017-01-19 21:03] lynnaloo opened #110 "May Agenda"
Beer.js -May 17th

[2017-01-22 03:57] qwo commented on #105
passed agenda closing

[2017-01-22 03:57] #105 closed, assigned to nobody

[2017-01-22 03:57] qwo commented on #104
passed agenda closing.

[2017-01-22 03:57] #104 closed, assigned to nobody

[2017-01-25 15:34] codingcampbell commented on #109
meta infos @lynnaloo

Vue: A better React?
===
Let's take a closer look at Vue: a reactive framework that recently exploded in popularity. Vue offers an interesting mix of features from React, Angular, Ember, and even Elm. We will be comparing Vue closely with React, exploring where it improves upon React, and also where it falls short.

About Me
===
I am a software developer with strong interests

[2017-01-25 18:46] qwo commented on #106
I heard this went swell. Thanks @reconbot! closing now

[2017-01-25 18:46] #106 closed, assigned to nobody

[2017-02-09 02:13] raelshark commented on #108
A bit similar to Blaine, but I'd like to do a talk on the door buzzer I built using an Amazon Dash button and Node. Should be a pretty fun talk.

[2017-02-09 03:45] troy0820 commented on #107
Title of talk is "How you can contribute to Node.js"

[2017-02-09 15:52] WyerByter-zz commented on #108
I've been considering doing a talk on choosing a topic for a talk.

[2017-02-09 20:21] raelshark commented on #108
@WyerByter Can you fit that into 15 minutes?

[2017-02-09 20:30] WyerByter-zz commented on #108
I haven't started on the talk, but I think I can do a 10-15 min talk.

[2017-02-17 00:22] lynnaloo commented on #109
@raelshark let me know the title of your dash talk 😸

[2017-02-17 00:23] raelshark commented on #109
Okay, I'll think of something clever. :)

[2017-02-17 08:09] wbprice commented on #108
@lynnaloo, there's a minor typo in the name of my talk in the top comment.  `Broomstick` should be `Boomstick`.  My talk isn't about janitorial equipment 😄.

[2017-02-17 14:47] qwo commented on #108
@wbprice fixed. Although I think you should reconsider .. that might be more interesting ..

[2017-02-20 19:11] bmf commented on #107
Announcements are up. Can be seen here: http://rawgit.com/norfolkjs/general-info/master/announcements/february_2017.html

[2017-02-20 19:11] #107 closed, assigned to nobody

[2017-02-20 20:38] lynnaloo commented on #108
@WyerByter I'm adding you to the schedule!

[2017-02-20 20:43] troy0820 commented on #108
@lynnaloo is that @guillermoandrae ?

[2017-02-20 20:57] lynnaloo commented on #108
You know any other Guillermo Fisher(s)? 😆

[2017-02-27 18:40] qwo commented on #108
hey speakers!

I sent you all individually a messsage on @757devio slack but here also for good measure

Send me a short description and bio whenever you get a chance so I can add it to the meetup group so we can promote your excellent and awesome talks!

It doesn't have to be complicated. Example I sent

[code]

cc:

@cupofjoey
@wbprice
@guillermoandrae
@WyerByter g a Talk
@vanguardvivian
--6thpe

[2017-02-27 18:50] ghost commented on #108
I actually just changed my username to @Vixxiest! :)

--
Vivian

[2017-03-06 17:22] qwo commented on #108
^^ Ping on github issue about sending me your bio via slack or email!
@cupofjoey @wbprice @guillermoandrae @vixxiest
@WyerByter - (I know you pinged me on slack )
** Marla offline :)

[2017-03-07 03:58] marla-s commented on #108
I'm here! Had to unburry my account. Last name is Schuchman, btw.

[2017-03-07 15:49] lynnaloo commented on #108
@WyerByter FWIW, I liked the idea you had to do a talk on choosing a talk.

[2017-03-07 18:27] WyerByter-zz commented on #108
@lynnaloo that is what the talk is about. Title and abstract are jokes around that.

[2017-04-11 15:11] lynnaloo opened #111 "June Agenda"
June 19th - "Back to the Future - IoT, Serverless, and ... Cobol" Meetup

Food Sponsor: Langa
Beer Sponsor: ETA
Location Sponsor: Pierce/McCoy
Events: Revolution Conf (June 1-2), PopUp Robots

Talk(s):

Greg Norman @raelshark - Unleashing the Power of the Amazon Dash Button

Travis Webb @tjwebb /Jason Wilson @sgiobair_og - More Cobol
Linda Nichols @lynnaloo - Serverless Architecture, Choose your P

[2017-05-10 01:03] lynnaloo opened #112 "Add NodeBots Day prospectus to page on website"

[2017-06-20 13:36] metaskills opened #113 "GlimmerJS"
I almost drove down to NC to [see this talk](https://www.meetup.com/raleighrb/events/240030064/) and even [reached out](https://twitter.com/tddjordan/status/876821533708124161) to the speaker about coming up here.

If you look at the slides it is far less about Rails (not at all really) and more about GlimmerJS and modern web components. I'd really love to hear this talk and hang out with Todd. Mo

[2017-07-20 15:36] lynnaloo commented on #113
@metaskills we're booked up through November, but we could do a join meetup some other date? I'm definitely interested in this talk.

[2017-07-20 15:37] #112 closed, assigned to nobody

[2017-07-20 15:37] #111 closed, assigned to nobody

[2017-07-20 15:37] #110 closed, assigned to nobody

[2017-07-20 15:37] #109 closed, assigned to nobody

[2017-07-20 15:38] #108 closed, assigned to nobody

[2017-07-20 15:38] #102 closed, assigned to pchinjr

[2017-07-20 15:39] lynnaloo opened #114 "August Meetup"
Beer.js

[2017-07-20 15:42] lynnaloo opened #115 "September Meetup"
September 18th - Title TBD Meetup

Food Sponsor: Langa
Beer Sponsor: Cloudreach
Location Sponsor: Pierce/McCoy
Events: PopUp Robots, HRDevFest

Talk(s):

Kenia Valladarez
Austin Galyon
Maurice Hayward

[2017-07-20 15:44] lynnaloo opened #116 "October Meetup"
October 16th - Lightning Talks

Food Sponsor: Langa
Beer Sponsor: CloudReach
Location Sponsor: Pierce/McCoy
Events: PopUp Robots, HRDevFest (Nov 10th)

Talk(s):

Dan Luhring
Troy Connor - MiniKube (Node Interactive Talk)

[2017-08-17 03:48] qwo commented on #114
done.
also the first js trivia night woo.

[2017-08-17 03:48] #114 closed, assigned to tjwebb, qwo

[2017-08-18 00:37] moe-dizzle commented on #115
Javascript Closures: Are You Woke?

Closures are among us and in your Javascript code! Don't be scared; this talk will help you to understand and leverage closures so that you can stay woke.

[2017-08-31 13:56] kaxcode commented on #115
Math + Art = Code Masterpiece

Learn what SVG images are and how to create them for the web.

[2017-08-31 16:32] austingalyon commented on #115
Breaking the Mold: Creating Desktop Apps with Electron

Everyone knows that HTML, CSS, and JavaScript power the web, but what if you could also use them to make a desktop application? We'll take a look at Electron, an open-source framework for creating native applications with HTML, CSS, and JavaScript, to learn how it works, how to use it, and look at some well known apps that it powers.

[2017-09-02 22:58] lynnaloo opened #117 "November Meetup - No Meetup"
Encourage people to attend HRDevFest

[2017-09-02 22:59] lynnaloo opened #118 "December Meetup- BeerJS"
December 13th or 20th?

[2017-09-02 23:03] lynnaloo commented on #115
@stanzheng are you still good to do the agenda for this meetup?

[2017-09-07 18:42] qwo commented on #115
@lynnaloo sure

[2017-09-21 13:34] lynnaloo commented on #116
@tjwebb once you get Dan's talk, this is ready for an event

[2017-10-02 14:38] tjwebb commented on #116
Dan Luhring's talk info:

Abstract:

[2017-10-02 16:55] troy0820 commented on #116
Troy Connor's talk info:

Abstract:

[2017-10-02 17:11] tjwebb commented on #116
Troy's title:

[2017-10-06 11:28] #115 closed, assigned to tjwebb, qwo

[2017-10-31 16:05] qwo opened #119 "JavaScript AST Talk"
Did anyone do a AST talk at Norfolk.js? :ninjacat:
I’m not volunteering but it does sound like an awesome talk :smiling_imp:

I’d do one

[2017-11-01 20:08] moe-dizzle commented on #119
I would like do a talk about creating babel or eslint plugin using ast. maybe it can be after a theoretical talk about ASTs.

[2017-11-09 17:09] qwo commented on #118
I might not be available for either of these dates. I sent off an email to ask for the space but if someone wants to be full host host lemme know.

[2017-11-11 19:50] qwo opened #120 "Cleaning up your code with Async Await"
I can do a lightning talk about this topic

[2017-12-23 16:13] lynnaloo commented on #120
Let's do it in January.

[2017-12-23 16:14] lynnaloo commented on #119
Do you want to do a lightning talk in March?

[2017-12-23 16:14] #118 closed, assigned to qwo

[2017-12-23 16:14] #117 closed, assigned to nobody

[2017-12-23 16:14] #116 closed, assigned to tjwebb, qwo

[2017-12-23 16:16] lynnaloo opened #121 "January Agenda"
January 15th - Lightning Talks

Food Sponsor: Cloudreach
Beer Sponsor: TBD
Location Sponsor: Pierce/McCoy
Events: PopUp Robots, RevolutionConf

Talk(s):

@stanzheng - Async Await
Matt Campbell - Web Assembly

- [X] Meetup Event
- [ ] Agenda @stanzheng
- [X]  Food @lynnaloo
- [ ] Beer @lynnaloo
- [X] Venue

[2017-12-23 16:17] lynnaloo opened #122 "February Agenda - Sharpen Your Saw!!"
February 19th - SYS

Food Sponsor: Cloudreach
Flight Sponsor: Cloudreach
Apartment Sponsor: Grow
Beer Sponsor: TBD
Location Sponsor: Pierce/McCoy
Events: PopUp Robots, RevolutionConf

Talk(s):

@shackbarth

- [X] Meetup Event
- [ ] Agenda
- [X]  Food
- [X] Venue
- [ ] Apartment

[2017-12-23 16:18] lynnaloo opened #123 "March Agenda"
March 19th - Lightning Talks

Food Sponsor: TBD
Beer Sponsor: TBD
Location Sponsor: Pierce/McCoy
Events: PopUp Robots, RevolutionConf

Talk(s):

Maurice Hayward - ASTs
Kenia Valladarez - TBD

- [X] Confirm Speakers
- [x] Meetup Event
- [ ] Agenda
- [ ]  Food
- [ ] Venue

[2017-12-23 16:20] lynnaloo commented on #122
@tjwebb I can book Steve's flight and then expense for sponsorship

[2017-12-23 16:20] lynnaloo commented on #122
@stanzheng can you see about getting the apartment for this date?

[2017-12-24 14:11] qwo commented on #119
sure sounds good

[2017-12-27 18:11] moe-dizzle commented on #119
Yeah I def would too

[2018-01-08 16:10] kaxcode commented on #123
I'll do a talk on one of this:

- Overview of GatsbyJS

[2018-01-13 16:48] kmcurry commented on #122
Are talks still open? I'd looking for a night for 2 data journalism presentations.

[2018-01-14 16:28] qwo commented on #122
is it a lightning talk format? I can check if that's filled @kmcurry (15-30 minutes)

[2018-01-14 17:53] kmcurry commented on #122
Not lightning, no. Thanks for verifying.

On Sun, Jan 14, 2018 at 11:28 AM Stanley Zheng <notifications@github.com>
wrote:

--
<https://about.me/kevincurry?promo=email_sig&utm_source=product&utm_medium=email_sig&utm_campaign=gmail_api>
Kevin Curry
about.me/kevincurry
<https://about.me/kevincurry?promo=email_sig&utm_source=product&utm_medium=email_sig&utm_campaign=gmail_api>

[2018-01-14 21:25] lynnaloo opened #124 "April Agenda"
April 16th - Lightning Talks

Food Sponsor: TBD
Beer Sponsor: TBD
Location Sponsor: Pierce/McCoy
Events: PopUp Robots, RevolutionConf

Talk(s):

Kenia Valladarez - "REST and Learn GraphQL"
Jason Wilson @SgiobairOg - "Layout at Last"

- [x] Confirm Speakers
- [X] Meetup Event
- [x] Agenda
- [X]  Food
- [x] Venue

[2018-01-14 21:26] lynnaloo commented on #122
We have room in April if you can fit it into 20 minutes? We're booked for Feb/Mar right now.

[2018-02-19 23:37] SgiobairOg opened #125 "CSS Grid Talk"
Linda said we need a CSS Grid Talk so I'd be down for giving a CSS Grid Talk.

[2018-02-19 23:47] lynnaloo commented on #123
@kaxcode I'd really like to see GatsbyJS!

[2018-02-19 23:47] lynnaloo commented on #124
@SgiobairOg Do you want to do CSS Grid in April?

[2018-02-19 23:47] lynnaloo commented on #125
How does April work?

[2018-02-19 23:50] lynnaloo commented on #124
Kristina Krasnolobova was interested in a lightning talk as well. I will verify and get her topic.

[2018-02-19 23:53] lynnaloo opened #126 "May Agenda"
Beer.js May 23rd.

@stanzheng Can you call Malia and make our reservation?

[2018-02-20 03:33] SgiobairOg commented on #124
@lynnaloo Sounds good 😄

[2018-03-11 17:18] lynnaloo commented on #123
Here's the meetup: http://meetu.ps/e/DZ6K3/3ql1F/f

[2018-03-11 17:19] #120 closed, assigned to nobody

[2018-03-11 17:19] #87 closed, assigned to nobody

[2018-03-11 17:21] lynnaloo commented on #123
Maurice, what is your talk title?

[2018-03-11 17:21] lynnaloo commented on #119
@Maurice-Hayward what is your talk title? The meetup is March 19th.

[2018-03-19 23:41] troy0820 commented on #123
Closing this issue 👍

[2018-03-19 23:41] #123 closed, assigned to tjwebb, qwo

[2018-03-19 23:41] troy0820 commented on #121
Can we close this?

[2018-03-27 23:17] lynnaloo commented on #124
@SgiobairOg I'm going to schedule you for April 16th.

[2018-04-01 18:55] #121 closed, assigned to tjwebb, qwo

[2018-04-01 18:55] qwo commented on #121
thanks for the headsup troy

[2018-04-01 18:56] qwo commented on #119
Retracting my interest to give this talk but if someone else wants to talk about it, that'd be 👌

[2018-04-01 18:56] #122 closed, assigned to tjwebb, shackbarth, qwo

[2018-04-02 01:32] lynnaloo opened #127 "June Agenda"
June 18th - Lightning Talks

Food Sponsor: TBD
Beer Sponsor: TBD
Location Sponsor: Pierce/McCoy
Events: PopUp Robots, NodeBots Day

Talk(s):

Kristina Krasnolobova - CyberSecurity Tools

- [ ] Confirm Speakers
- [x] Meetup Event
- [x] Agenda
- [ ]  Food
- [x] Venue

[2018-04-02 01:43] #125 closed, assigned to nobody

[2018-04-02 01:44] #119 closed, assigned to nobody

[2018-04-06 15:49] lynnaloo commented on #124
@stanzheng could I get you to still do the agenda for this one?

[2018-04-06 15:53] qwo commented on #124
Sure

On Fri, Apr 6, 2018, 11:49 AM Linda Nichols <notifications@github.com>
wrote:

[2018-04-16 22:48] troy0820 commented on #124
### Closing as all items on the list have been fulfilled.

[2018-04-16 22:48] #124 closed, assigned to tjwebb, qwo

[2018-04-18 15:36] dylan-isaac opened #128 "Talk on Accessibility Basics ("Accessibility isn't Inaccessible")"
A talk going over the the importance of a11y, how html semantic elements translate to the accessibility tree, and when to use aria attributes.

I won't be able to get this ready for May, but I would be down for June and onward.

[2018-04-18 15:41] dylan-isaac opened #129 "Lightning Talk Idea- How I use VS Code + Markdown + Git to take beautiful notes efficiently"
I run through a lot of video courses and have found a combination of technologies that allow me to quickly take very thorough notes quickly, so I'm able to review course materials without having to rewatch large chunks of a course.

This process also gives me the flexibility to easily export and share my notes with others and to easily convert them into blog posts.

Examples of some notes I've tak

[2018-04-22 21:52] qwo opened #130 "React-Native/Expo"
I suggested if @reggie3 was interested in doing a React-Native/Expo talk

He mentioned he might be!

Reggie has written about expo https://blog.expo.io/@reginald.johnson

and I believe he has done a session at FCC about it

[2018-04-22 22:01] reggie3 commented on #130
The FCC session I did was about building API's using Amazon Web Service's API Gateway and Lambda functions.  I'd be available to talk about Expo, or about those AWS items.

[2018-04-22 22:09] qwo commented on #130
Whatever you'd like to talk about speakers choice!

[2018-04-22 23:30] lynnaloo commented on #130
We’ve already had a few Serverless and FaaS talks, so I’d prefer Expo. We have a spot available in September.

[2018-04-23 14:11] reggie3 commented on #130
Expo it is then!  September should work well as long as I don't get deployed to respond to some contingency.  I'll keep my fingers crossed.

[2018-05-29 15:41] reggie3 commented on #130
@stanzheng @lynnaloo Would you like me to do a "show and tell" on creating a React Native app or would you prefer a workshop which walks the attendees through creating a RN app?  I think the workshop would be more interesting, but it would also take more time.

[2018-08-18 15:44] #126 closed, assigned to qwo

[2018-08-18 15:47] #127 closed, assigned to nobody

[2018-08-18 15:48] lynnaloo commented on #130
@reggie3 I'm creating a new issue for September and I'll tag you in it. We typically do two shorter talks each meetup, so I think a 40 minute show-and-tell would be best.

[2018-08-18 15:52] lynnaloo opened #131 "September Agenda"
September 17th - Lightning Talks

Food Sponsor: TBD
Beer Sponsor: TBD
Location Sponsor: Pierce/McCoy
Events: Norfolk GoBridge Meetup, October Meetup, Beer.js Christmas Edition

Talk(s):

@reggie3 - "Creating React Native Mobile Applications Using Expo"
@dylansheffer "Accessibility isn't Inaccessible"

- [x] Confirm Speakers
- [x] Meetup Event
- [ ] Agenda
- [x]  Food
- [x] Venue

[2018-08-18 16:01] lynnaloo commented on #131
@reggie3 you are all set to speak - let me know your talk title and I'll create the event.

[2018-08-18 16:02] lynnaloo commented on #128
@dylansheffer I'm good with either of the talks you submitted. Can you do a lightning talk in November?

[2018-08-18 16:03] lynnaloo opened #132 "October Agenda - Beer.js"
Octoberfest Beer.js! October 17th

[2018-08-18 16:09] lynnaloo opened #133 "December Agenda - Holiday Beer.js"
Beer.js - December 12th. We will have a bad sweater contest and a box for donations to animal shelters.

[2018-08-18 16:09] lynnaloo opened #134 "November Agenda"
June 18th - Lightning Talks

Food Sponsor: TBD
Beer Sponsor: TBD
Location Sponsor: Pierce/McCoy
Events: Beer.js Christmas Edition

Talk(s):

@dylansheffer
TBD

- [ ] Confirm Speakers
- [ ] Meetup Event
- [ ] Agenda
- [ ]  Food
- [ ] Venue

[2018-08-19 15:25] reggie3 commented on #131
@lynnaloo How about "Creating React Native Mobile Applications Using Expo"

Also, should the date be September 18th?

[2018-08-19 15:26] reggie3 commented on #130
Show and tell sounds good.

[2018-08-20 01:37] Seairth commented on #131
What day is it?  I'm guessing not June 18th.

[2018-08-21 00:23] dylan-isaac commented on #134
I can do a lightning talk on a11y or talk on using vscode, markdown, and gitlab for free cloud note taking

[2018-08-21 00:24] dylan-isaac commented on #128
Sure, do you have a preference?

[2018-08-27 03:14] lynnaloo commented on #128
Are you interested in giving this talk this month? Our second person for September hasn't stepped up yet.

[2018-08-27 03:16] lynnaloo commented on #131
September 17th. Copy-paste error.

[2018-08-27 12:19] dylan-isaac commented on #128
I can do that if you don't mind an overlap with HRNUG. I'm giving the same a11y talk on September 11

[2018-09-02 02:12] lynnaloo commented on #128
Nah, I think that's fine. You'd just need a shortened version since this is a lightning talk.

[2018-09-03 16:06] dylan-isaac commented on #128
That works for me 👍

[2019-01-07 15:12] troy0820 opened #135 "January Agenda"
January ~~23rd~~ 14th, 2019

Beer Sponsor: TBD
Location Sponsor: The Birch
Events:

- [ ] Meetup Event
- [x]  Venue

[2019-01-07 16:07] lynnaloo commented on #135
@troy0820 Thanks for adding this 👍 We had tentatively planned on January 14th to avoid the holiday, but we decided (just yesterday) that we're going to move it to Beer.js this month and go big for Sharpen Your Saw next month. Can I confirm you for March instead?

[2019-01-07 16:08] #134 closed, assigned to tjwebb

[2019-01-07 16:09] #133 closed

[2019-01-07 16:09] #131 closed, assigned to tjwebb

[2019-01-07 16:09] #130 closed, assigned to nobody

[2019-01-07 16:09] #129 closed, assigned to nobody

[2019-01-07 16:09] #128 closed, assigned to nobody

[2019-01-07 16:12] lynnaloo opened #136 "February Agenda - SHARPEN YOUR SAW 2019"
February 18th

Food Sponsor: TBD
Beer Sponsor: TBD
Location Sponsor: Pierce/McCoy
Events:

Talk(s): SYS by @shackbarth

TBD

- [x]  Confirm Speakers
- [ ] Confirm Speaker Travel @tjwebb
- [ ] Meetup Event
- [ ]  Agenda
- [ ]  Food
- [ ]  Venue

[2019-01-07 16:14] lynnaloo opened #137 "March Agenda"
March 24th - Low Code/Node Code

Food Sponsor: TBD
Beer Sponsor: TBD
Location Sponsor: Pierce/McCoy
Events:

Talk(s):

@troy0820
@lynnaloo

- [x]  Confirm Speakers
- [x] Meetup Event
- [x]  Agenda
- [ ]  Food
- [ ]  Venue

[2019-01-07 16:29] troy0820 commented on #135
Yeah, March is fine, I may be on vacation but I can handle the agenda and try to look for a speaker.  I can still put the details for Beer.js this month and have the logistics for the event done.  @lynnaloo

[2019-01-07 16:30] troy0820 commented on #137
I may be on vacation but I can definitely and will speak if I'm available.  I will have a topic hopefully no later than the end of the week.

[2019-03-17 23:50] #113 closed, assigned to nobody

[2019-03-17 23:50] #132 closed

[2019-03-17 23:50] #135 closed, assigned to nobody

[2019-03-17 23:51] #136 closed, assigned to nobody

[2019-03-17 23:54] lynnaloo opened #138 "April Agenda"
April 24th - BeerJS

[2019-08-09 14:26] #137 closed, assigned to nobody

[2019-08-09 14:26] #138 closed, assigned to nobody

[2019-08-09 14:29] lynnaloo opened #139 "October Agenda"
Data: October 28, 2019
Beer Sponsor: TBD
Location Sponsor: TBD
Food Sponsor: TBD
Events:

Talk(s):

@1kevgriff
TDB

- [ ]  Confirm Speakers
- [x] Meetup Event
- [ ]  Agenda
- [ ]  Food
- [ ]  Venue

[2019-08-09 14:31] lynnaloo opened #140 "February Agenda (SyS)"
Data: February 24, 2020
Beer Sponsor: TBD
Location Sponsor: TBD
Food Sponsor: TBD
Events:

Talk(s):

@shackbarth

- [ ]  Confirm Speakers
- [x] Meetup Event
- [ ]  Agenda
- [ ]  Food
- [ ]  Venue

[2019-08-09 14:33] lynnaloo opened #141 "April Agenda"
Data: October 28, 2019
Beer Sponsor: TBD
Location Sponsor: TBD
Food Sponsor: TBD
Events:

Talk(s):

TBD
TDB

- [ ]  Confirm Speakers
- [x] Meetup Event
- [ ]  Agenda
- [ ]  Food
- [ ]  Venue